
body {

    background-image: url("assets/background.gif");
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aquamarine;
    text-shadow: 2px 2px blue;
}

/*Background for navbar and... make it glow...*/

#navbar {
    background: transparent;
    background-size: inherit;
    color: rgb(14, 195, 219);
    text-align: center;
    font-family: fantasy;
    font-weight: bolder;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #1700e6, 0 0 30px #1700e6, 0 0 40px #1700e6, 0 0 50px #1700e6, 0 0 60px #1700e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #24abc0, 0 0 30px #24abc0, 0 0 40px #24abc0, 0 0 50px #24abc0, 0 0 60px #24abc0, 0 0 70px #24abc0;
    }
}

/*To fix the dropdown menu's icon's size*/

img.animated-gif {
    width: 30px;
    height: auto;
}

ul {
    margin-left: 60%;
}

/*Making sure the below elements are transparant, obviously to ensure the background is visible*/
/*Also taking redundant measures in ensuring a uniform font*/

header {
    background: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0%;
    margin: 0%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aquamarine;
    text-shadow: 2px 2px 3px blue;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aquamarine;
    text-shadow: 2px 2px 3px blue;
}


.col-sm-4 {
    width: 100px;
    height: 100px;
}


/*Beginning of the content*/

article {
    background-image: url("assets/article-background.gif");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aquamarine;
    text-shadow: 2px 2px blue;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aquamarine;
    text-shadow: 2px 2px blue;
    font-size: medium;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 2%;
}

/*Aligning the photo that appears in the homepage's article*/
#teenDes {
    width: 300px;
    height: 200px;
    float: left;
    padding-right: 1%;
    padding-left: 2%;
}

/*Aligning the blurb in the 'ABOUT' section*/
#aboutArticle {
    margin-top: 10%;
}

/*Styling for the contact form*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
  }
  
  /*Styling for the submit button specifically*/
  input[type=submit] {
    background-color: aquamarine;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: aqua;
  }
  
  /* Add a background color and some padding around the form */
  section {
    border-radius: 5px;
    background-image: url("assets/article-background.gif");
    padding: 20px;
  }

/*Media queries*/

/*Making the breakpoints of the header folder and navbar are uniform, so there's not a disparate range of width where the former element (and its link) is(are) missing completely*/

@media screen and (max-width: 768px) {
    .col-sm-4 {
        display: none
    }
}

@media screen and (min-width: 768px) {
    #hiddenLink {
        visibility: hidden;
    }    
}

/*Silliness for a completely squashed screen. Was supposed to be a humorous easter egg, but I never got it looking to my satisfaction so I'm just commenting it out for now*/

/*@media screen and (max-width: 350px) {
    body {
        background-image: url("assets/batmanwalls1.jpg");
        width: 65;
        height: 50;
        float: right;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 225px) {
    body {
        background-image: url("assets/batmanwalls2.jpg");
        width: 65;
        height: 50;
        float: right;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 150px) {
    body {
        background-image: url("assets/batmanwalls3.jpg");
        width: 65;
        height: 50;
        float: right;
        background-repeat: no-repeat;
    }
}*/

